.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  height: 40px;
  padding: 0 30px;
  border-bottom: #ff6464;
  border-width: 3px;
  border-style: solid;
}

body {
  margin: 0;
  background-color: #e9ebee;
}

.nav-left {
  display: flex;
}

.nav-right {
  display: flex;
}

.nav-li {
  list-style: none;
}

.nav-li a {
  display: block; /* Make the anchor tag a block-level element to fill the space */
  padding: 10px 15px; /* Padding inside the link to make it clickable */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
}

.nav-li a:hover {
  background-color: #575757; /* Background change on hover */
}

/* Sign-in form styles */
#signInDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInForm {
  border-width: 2px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  padding: 20px;
  border-radius: 2px;
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}

.signInForm-input {
  margin: 10px;
  padding: 5px;
  width: 40%; 
  min-width: 100px;
}


.signInButton {
  margin-top: 10px;
  background-color: #f54d4d;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  cursor: pointer; 
  transition: opacity 0.2s;
}

.signInButton:hover {
  opacity: 0.7;
}

.danger-notification {
  margin-top: 0;
  font-size: 12px;
  color: red;
}

.forgotPasswordButton {
  margin-top: 15px;
  background-color: white;
  border:none;
  color: #333;
  transition: text-decoration 0.2s;
}

.forgotPasswordButton:hover {
  text-decoration: underline;
}

.registerNewAccountButton {
  margin-top: 15px;
  border: none;
  background-color: #868484; /* Button background */
  color: white; /* Button text color */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px 10px;
  transition: opacity 0.2s;
  text-decoration: none; /* Remove underline from the link */
  display: inline-block; /* Makes the anchor act more like a button */
  cursor: pointer;
}

.registerNewAccountButton a {
  color: white; /* Button text color */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none; 
  display: inline-block; 
  cursor: pointer;
}

.registerNewAccountButton:hover{
  opacity: 0.8;
}

.forgotPasswordInput{
  margin: 10px;
  margin-top: 20px;
  padding: 5px;
  width: 40%; 
  min-width: 100px;
}

.emailPasswordResetSuccess{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-style: solid;
  border-width: 2px;
  padding: 40px 60px;
  background-color: white;
}

.success-notification {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-style: solid;
  color: rgb(83, 206, 83);
  border-width: 2px;
  padding: 40px 60px;
  background-color: white;
}

@media (max-width: 700px) {
  body {
    font-size: 14px; 
  }

  .signInForm {
    font-size: 14px;
    width: 60%;
  }

  .signInForm-input {
    width: 50%;
  }
}