.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  height: 40px;
  padding: 0 30px;
}

body {
  margin: 0;
}

.nav-left {
  display: flex;
}

.nav-right {
  display: flex;
}

.nav-li {
  list-style: none;
}

.nav-li a {
  display: block; /* Make the anchor tag a block-level element to fill the space */
  padding: 10px 15px; /* Padding inside the link to make it clickable */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
}

.nav-li a:hover {
  background-color: #575757; /* Background change on hover */
}

/* Sign-in form styles */
#signInDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInForm {
  border-width: 2px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  padding: 20px;
  border-radius: 2px;
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.signInForm-input {
  margin: 10px;
  padding: 5px;
  width: 40%; /* Make input fields take full width of the container */
}

.signInButton {
  background-color: #333;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  cursor: pointer; /* Show pointer cursor on hover */
}

.signInButton:hover {
  background-color: #575757;
}

.danger-notification {
  margin-top: 0;
  font-size: 12px;
  color: red;
}
